<div class="modal-overlay">
    <div id="login-modal" class="modal">
        <div class="modal-content">
            
        </div>
        
        <div class="modal-footer">
            
        </div>
    </div>
</div>