<div id="map_wrapper">
    <div id="map">
        <noscript>To display the map please enable Javascript.</noscript>
    </div>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaZHBjsIM1lZsd3zpSQkZ06FFbzKjGVkA">
    </script>

    <script src="/javascripts/initMap.js"></script>
</div>