@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import "grid";

//@import 'style-tablet';
//@import 'style-mobile';

$theme-color: #ffa600;
$theme-color-light: #004f9e;
$nav-height: 64px;
$nav-background: rgba(0, 0, 0, 0.75);
$page-background: #282828;
$text-color: #fafafa;
$card-background: #333333;
$tile-background: #4d4d4d;

body,
html {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: $text-color;
	background-color: $page-background;
	font-size: 16px;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	
}

*, *::after, *::before {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

main {
	flex: 1 0 auto;
}

footer {
	margin-top: 1rem;
	z-index: 10;
	background-color: $page-background;
}

// NAVIGATION
header {
	height: $nav-height;
	z-index: 1000;
}

nav {
	height: $nav-height;
	width: 100%;
	background-color: $nav-background;

	position: fixed;
}

#navigation-buttons-wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
}

#navigation-buttons-wrapper > li {
	display: inline-block;
	height: 100%;
	position: relative;
}

.navigation-button {
	display: block;
	height: 100%;

	line-height: $nav-height;
	padding: 0 1rem;

	text-decoration: none;
	color: #fff;
	
	& > i {
		line-height: $nav-height;
		vertical-align: bottom;
	}
}

.navigation-button::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $theme-color;
	height:0;
	transition: height 0.5s ease;
}

.navigation-button:hover::before {
	height: 5px;
}

// account dropdown
li#account-list-item {
	position: relative;
	
	ul {
		display: none;
	}
	
	&:hover {
		ul {
			display: block;
			position: absolute;
			width: 200px;
			background: $nav-background;
			list-style: none;
			padding: 0;
			right: 0;
			
			li {
				a {
					padding: 0.5rem;
					display: block;
					color: $theme-color;
				}
			}
		}
	}
}


.right {
	float: right;
}

.left {
	float: left;
}

.center {
	text-align: center;
}

.theme-color {
	background-color: $theme-color;
	
	&.light {
		background-color: $theme-color-light;
	}
}

.theme-color-text {
	color: $theme-color;
	
	&.light {
		color: $theme-color-light;
	}
}

// card styling
.card {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	padding: 1rem;
	background-color: $card-background;
	z-index: 10;

	&.section {
		margin: 1rem;
		transform: scale(1);
	}
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.tile {
	position: relative;
	height: 250px;
	background-color: $tile-background;
}

.event-tile {
	img {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
	}
	
	.top {
		position: absolute;
		padding: 1rem;
		top: 0;
		left: 0;
		width: 100%;
	}
	
	.bottom {
		position: absolute;
		padding: 1rem;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	
	.title {
		margin-top: 0;
		font-size: 2rem;
	}
}

.button {
	background-color: $theme-color;
	color: $text-color;
	text-decoration: none;
	padding: 12px;
	text-transform: uppercase;
	
	&.flat {
		background-color: transparent;
		color: $theme-color;
		
		&:hover {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
	
	&:hover {
		background-color: $theme-color-light;
	}
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// INDEX PAGE
.img-wrapper {
	position: fixed;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
}

#header-image {
	width: 100%;
}

.welcome-section {
	height: 300px;
	position: relative;
	
	& > .welcome-text {
		position: absolute;
		width: 100%;
		bottom: 0;
		font-size: 4rem;
		text-shadow: 0 0 2px #000;
	}
}
